{% extends "base.html" %}
{% block content %}

<div class="stage fade-up">
    <section class="results-section">

        <div class="card disease-card">
            <h3>Our Vision </h3>

            <ul>
                <li data-en="Empower farmers with AI" data-hi="किसानों को AI से सशक्त बनाना">
                    Empower farmers with AI
                </li>
                <li data-en="Early crop disease detection" data-hi="फसलों की बीमारियों की प्रारंभिक पहचान">
                    Early crop disease detection
                </li>
                <li data-en="Reduce crop loss" data-hi="फसल नुकसान कम करना">
                    Reduce crop loss
                </li>
                <li data-en="Support Indian agriculture" data-hi="भारतीय कृषि का समर्थन">
                    Support Indian agriculture
                </li>
            </ul>

        </div>

    </section>
</div>

{% endblock %}
